<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tarefas</title>
</head>
<body>

    <h1>Minhas Tarefas</h1>

    <a href="{% url 'criar_tarefa' %}">+ Nova tarefa</a>

    <hr>

    <ul>
        {% for tarefa in tarefas %}
            <li>
                <strong>{{ tarefa.titulo }}</strong> -
                {{ tarefa.get_status_display }}
                <br>
                <small>{{ tarefa.descricao }}</small>
            </li>
        {% empty %}
            <li>Nenhuma tarefa cadastrada.</li>
        {% endfor %}
    </ul>

</body>
</html>
